<?xml version="1.0" ?>
<model>
    <name>hospital_elevator_01_portal</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>AWS Robomaker</name>
        <email></email>
    </author>
    <description>freestanding elevator consisting of 3 parts: portal, door & car</description>
</model>
